@font-face {
    font-family: "Ubuntu-Medium";
    src: url('../fonts/Ubuntu/Ubuntu-Medium.ttf');
}

@font-face {
    font-family: "Ubuntu-Heavy";
    src: url('../fonts/Ubuntu/Ubuntu-Bold.ttf');
}

@font-face {
    font-family: "Righteous";
    src: url('../fonts/Righteous-Regular.ttf');
}

@font-face {
    font-family: "Concert-One";
    src: url('../fonts/ConcertOne-Regular.ttf');
}

@font-face {
    font-family: "Black-Ops-One";
    src: url('../fonts/BlackOpsOne-Regular.ttf');
}

body,
html {
    height: 100%;
    width: 100%;
}

body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

body {
    background: black;
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.background {
    background: url('../images/CH_BG.png');
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}


/* navigation */

.nav {
    display: flex;
    position: fixed;
    width: 100%;
    max-height: 75px;
    z-index: 5;
    justify-content: center;
    user-select: none;
    background: rgba(50, 50, 50, 0.6);
}

.nav_item {
    color: white;
    font-size: 12px;
    margin: 5px;
    background: rgba(0, 0, 0, 0);
    border-radius: 5px;
    padding: 10px 5px 5px 5px;
    font-family: "Ubuntu-Medium";
    transition-duration: 0.1s;
    user-select: none;
}

.nav_item:active {
    background: rgba(255, 255, 255, 0.4);
}

.nav_logo_img {
    max-width: 40px;
    max-height: 40px;
    margin: 5px;
    user-select: none;
}

.nav_logo_img:hover {
    cursor: pointer;
    user-select: none;
}

.nav_logo_text {
    font-family: "Ubuntu-Heavy";
    color: #6337e6;
    max-width: 24px;
    font-size: 15px;
    padding: 5px 10px;
    user-select: none;
    text-shadow: 0 0 10px #6337e6;
}

.nav_logo_text strong {
    color: red;
    text-shadow: 0 0 10px red;
}

.nav_logo_text:hover {
    cursor: pointer;
}

.nav_spacer {
    flex-grow: 2;
}


/* articles */

.articles {
    height: 100%;
    display: flex;
    background: white;
    flex-flow: column;
    justify-content: space-around;
}

.article {
    flex-grow: 1;
    transition-duration: 0.2s;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100px;
}

.article:active {
    flex-grow: 16;
}

.article_title {
    display: none;
}

.article_title_display {
    display: block;
    width: 30%;
    height: auto;
    margin: 20px;
}

#article_one {
    background: #18002b;
}

#article_one .article_title {
    font-family: "Righteous";
}

#article_two {
    background: navy;
}

#article_two .article_title {
    font-family: "Concert-One";
}

#article_three {
    background: #0a9fc4;
}

#article_three .article_title {
    font-family: "Black-Ops-One";
}